.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Competencias:
            | es la capacidad de una persona para desempeñar, en diferentes contextos y con base en los requerimientos de calidad y resultados esperados en el sector público, las funciones inherentes a un empleo; capacidad que está determinada por los conocimientos, destrezas, habilidades, valores, actitudes y aptitudes que debe poseer y demostrar el empleado. (ESAP-DAFP – Guía para la formulación del PIC).

        p
            strong.mr-2 Comportamental:
            | el término comportamental hace referencia a la actitud o conducta natural que muestra una persona en diferentes situaciones y lugares.
        p
            strong.mr-2 Control:
            | comprobación, inspección, fiscalización, intervención.
        p
            strong.mr-2 Desempeño:
            | conductas laborales del empleado en el cumplimiento de sus funciones. El desempeño se considera también como el desarrollo de los compromisos en relación a las metas deseadas por la entidad. 
        p
            strong.mr-2 Desarrollo de Personal:
            | se refiere a las actividades que realiza una empresa conforme a las necesidades identificadas, con el ánimo de mejorar los conocimientos, habilidades y actitudes del personal. 
        p
            strong.mr-2 Dirección:
            | acción o efecto de dirigir, mostrando, guiando o dando las señas de un camino.
        p
            strong.mr-2 Empleo público:
            | es el conjunto de funciones, tareas y responsabilidades que se asignan a una persona y las competencias requeridas para llevarlas a cabo, con el propósito de satisfacer el cumplimiento de los planes de desarrollo y los fines del estado. (Artículo 19 Ley 909 de 2004).
        p
            strong.mr-2 Función pública:
            | pública	Aquella que está al servicio de los intereses generales y prestación de servicios a cargo del Estado, a través de sus servidores, y se desarrolla con fundamento en los principios de igualdad, moralidad, eficacia, economía, celeridad, imparcialidad y publicidad (Artículo 209 Constitución Política y 2° Ley 909 de 2004).
        p
            strong.mr-2 Gestión:
            | acción o efecto de gestionar para llevar a cabo una iniciativa o proyecto.
        p
            strong.mr-2 Normativa:
            | conjunto de normas aplicables a una determinada materia o actividad.
        p
            strong.mr-2 Organización:
            | establecer o reformar algo para lograr un fin, coordinando las personas y los medios adecuados.
        p
            strong.mr-2 Planeación:
            | trazar o formar las acciones de una iniciativa, plan o proyecto.
        p
            strong.mr-2 Proceso:
            | conjunto de acciones que se realizan de manera secuencial, para mejorar la productividad de algo para alcanzar resultados específicos.
