.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody

                tr
                    td Decreto Ley 1567 de 1998, Por el cual se crea el sistema nacional de capacitación y el sistema de estímulos para los empleados del Estado.	

                    td Decreto Ley	                   
                    td 
                        a(href="https://www.funcionpublica.gov.co/eva/gestornormativo/norma.php?i=1246", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver

                tr
                    td Circular Externa No. 100 – 010 de 2014 expedida por el DAFP. Orientaciones encaminadas a la capacitación y formación de los empleados públicos.	

                    td Circular Externa	                   
                    td 
                        a(href="https://www.funcionpublica.gov.co/eva/gestornormativo/norma.php?i=71320", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver

                tr
                    td Resolución 390 de 2017, por la cual se actualiza el plan Nacional de Formación y Capacitación”.	

                    td Resolución 	                   
                    td 
                        a(href="https://www.funcionpublica.gov.co/eva/gestornormativo/norma.php?i=81864", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver

                tr
                    td El Plan Nacional de Formación y Capacitación de Empleados Públicos para el Desarrollo de Competencias.	

                    td Plan 	                   
                    td 
                        a(href="https://www.funcionpublica.gov.co/eva/admon/files/empresas/ZW1wcmVzYV83Ng==/imgproductos/1450185065_2ef719ee0eb3b2141b1a7e53bb98b887.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver

                tr
                    td Plan Nacional de Formación y Capacitación para el Desarrollo y la Profesionalización del Servidor Público. 2017	

                    td Plan 	                   
                    td 
                        a(href="https://www.funcionpublica.gov.co/documents/418537/506911/2017-05-30_Plan_nacional_formaci%C3%B3n_y_capacitacion2017.pdf/093d3b34-990c-410e-9710-e93bff210eeb", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver

                tr
                    td Guía Metodológica para la implementación del Plan Nacional de Formación y Capacitación (PNFC): Profesionalización y Desarrollo de los Servidores Públicos. Departamento Administrativo de la Función Pública (DAFP). Diciembre de 2017.	

                    td Guía	                   
                    td 
                        a(href="https://www.funcionpublica.gov.co/guias", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver

                tr
                    td Plan Nacional de Desarrollo. Pilares y estrategias propuestas para la vigencia 2019-2022.	
                    td Bases 	                   
                    td 
                        a(href="https://colaboracion.dnp.gov.co/CDT/Prensa/BasesPND2018-2022n.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver

