include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Alegre, L., Berné, C. y Galve, C. (2008). Fundamentos de economía de la empresa: perspectiva funcional. (3ª. Ed.). España: Editorial Ariel. ")
        +referenciaItem("Constitución Política de Colombia. (1991). (Capítulo 2: De Los Derechos Sociales, Económicos y Culturales. Art. 54). ")
        +referenciaItem("República de Colombia. Concepto de empowerment. Gestiopolis Disponible en:", "https://www.gestiopolis.com/concepto-de-empowerment/")
        +referenciaItem("Decreto Ley 1567 de 1998, Por el cual se crean el Sistema Nacional de Capacitación y el sistema de estímulos para los empleados del Estado. (Título I). Santa Fe de Bogotá, D.C., 5 de agosto de 1998.", "")
        +referenciaItem("Decreto 2482 de 2012, Por el cual se establecen los lineamientos generales para la integración de la planeación y la gestión. (Artículo 3, Numeral c). Bogotá, D. C., 3 de diciembre de 2012.", "")
        +referenciaItem("El Decreto 1083 de 2015, Por medio del cual se expide el Decreto Único fija Reglamentario del Sector de Función Pública, (Título 9: Capacitación. Artículos 2.2.9.1 y 2.2.9.6). Bogotá, D.C., 26 de mayo de 2015.", "")
        +referenciaItem("El nuevo estilo de dirección empresarial. Revista Gestion. Disponible en:", "https://gestion.com.do/ediciones/abril-2010/item/167-el-nuevo-estilo-de-direccion-empresarial")
        +referenciaItem("Estilos de Dirección. Disponible en:", "https://es.scribd.com/doc/17038513/ESTILOS-DE-DIRECCION-Daniel-Goleman")
        +referenciaItem("Estilos de Dirección. Disponible en:", "http://www.tiemposmodernos.eu/estilos-de-direccion-ret/")
        +referenciaItem("James, A. y Gilbert, D. (1996). Administración. México: Prentice Hall.", "")
        +referenciaItem("Finch Stoner, J. Freeman, E. y Gilbert, D. (1996.). Administración. España: Editorial Pearson Educación.", "")
        +referenciaItem("Las 9 competencias para la gestión de RRHH. Disponible en:", "https://www.rhpaenews.com/las-9-competencias-la-gestion-rrhh/")
        +referenciaItem("Las Habilidades del Gerente de Gestión Humana. Disponible en:", "http://www.gestionhumana.com/gh4/BancoConocimiento/E/elcargodemicargo2/elcargodemicargo2.asp?print=1")
        +referenciaItem("Ley 190 de 1995, Por la cual se dictan normas tendientes a preservar la moralidad en la Administración Pública, y se fijan disposiciones con el fin de erradicar la corrupción administrativa. (Art. 64). Santa Fe de Bogotá, D. C., 6 de junio de 1995.", "")
        +referenciaItem("Ley 489 de 1998 Por la cual se dictan normas sobre la organización y funcionamiento de las entidades del orden nacional, se expiden las disposiciones, principios y reglas generales para el ejercicio de las atribuciones previstas en los numerales 15 y 16 del artículo 189 de la Constitución Política y se dictan otras disposiciones. (Artículo 17). Santa Fe de Bogotá, D. C., 29 de diciembre de 1998.", "")
        +referenciaItem("Ley 734 de 2002, Por la cual se expide el Código Disciplinario Único. (Título IV, Art. 33 y 34). Bogotá, D. C., 5 de febrero de 2002.", "")
        +referenciaItem("Ley 909 de 2004 Por la cual se expiden normas que regulan el empleo público, la carrera administrativa, gerencia pública y se dictan otras disposiciones. (Art. 36). Bogotá, D. C., 23 de septiembre de 2004.", "http://www.secretariasenado.gov.co/senado/basedoc/ley_0909_2004.html ")
        +referenciaItem("Ley 1960 de 2019 Por el cual se modifican la Ley 909 de 2004, el Decreto Ley 1567 de 1998 y se dictan otras disposiciones. (Art. 3). Bogotá, D.C., 27 de junio de 2019.", "")
        +referenciaItem("Los principales estilos de Dirección Empresarial, disponible en:", "http://nocionesdeeconomiayempresa.wordpress.com/2013/04/21/los-principales-estilos-de-direccion-empresarial/")
        +referenciaItem("Robbins, S. (1995). Comportamiento organizacional. España: Editorial Prentice Hall.", "")
        +referenciaItem("Robbins, S. y De Cenzo. (2002). Fundamentos de Administración. México: Prentice Hall.", "")
        +referenciaItem("Técnicas de Comunicación. Disponible en: Fuente:", "https://www.anahuac.mx/generacion-anahuac/cuales-son-las-mejores-tecnicas-de-comunicacion-efectiva")


        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            