//Colores base del material de formación
$brand-color-dark: #C6E1E2;
$text-color-dark: #006A87;


//Esto lo puede cambiar poe el color que quiera q sugiera el tema. (sE QUITA EL lighten)
$brand-color-light: #B9D8FF;
$text-color-light: #006A87;
$brand-color-secondary:#4DDDFF;

